[Unit]
Description=Best Realty photobank webapp
After=network.target

[Service]
WorkingDirectory=/projects/best_realty_photobank/project-application
ExecStart=/root/.cache/pypoetry/virtualenvs/my_new_service_env/bin/python -m web_app.main
Restart=always
RestartSec=3
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target