<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Выбор фотографий</title>
    <style>
        .images_wrapper {
            gap: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3px;
        }

        .image_container {
            display: inline-block;
            cursor: pointer;
            border: 3px solid transparent;
            transition: border 0.3s ease;
        }

        .image_container.selected {
            border: 3px solid green;
        }

        .image_container input[type="checkbox"] {
            display: none;
        }

        .fixed_button_container {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: white;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            z-index: 999;
            padding-top: 5px;
        }

        .fixed_button_container button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        .images_form {
            padding-bottom: 40px;
        }
        .image_description {
            font-size: 16px;
            padding: 10px;
            max-width: 310px;
            word-wrap: break-word;
        }
        .mdi--account-eye {
          display: inline-block;
          width: 17px;
          height: 17px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23d4ee71' d='M6 8c0-2.21 1.79-4 4-4s4 1.79 4 4s-1.79 4-4 4s-4-1.79-4-4m3.14 11.75L8.85 19l.29-.75c.7-1.75 1.94-3.11 3.47-4.03c-.82-.14-1.69-.22-2.61-.22c-4.42 0-8 1.79-8 4v2h7.27c-.04-.09-.09-.17-.13-.25M17 18c-.56 0-1 .44-1 1s.44 1 1 1s1-.44 1-1s-.44-1-1-1m6 1c-.94 2.34-3.27 4-6 4s-5.06-1.66-6-4c.94-2.34 3.27-4 6-4s5.06 1.66 6 4m-3.5 0a2.5 2.5 0 0 0-5 0a2.5 2.5 0 0 0 5 0' stroke-width='0.5' stroke='%23ff1717'/%3E%3C/svg%3E");
        }
        .user_name {
            font-size: 14px;
            font-style: italic;
            font-weight: 600;
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #121212;
                color: #ffffff;
            }

            .fixed_button_container {
                background-color: #1e1e1e;
                box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.1);
            }

            .image_description {
                color: #dddddd;
            }

            .user_name {
                color: #c4f373;
            }
        }
    </style>
</head>
<body>
    <h2>Выберите фотографии</h2>
    <form action="/select_photos" method="post" class="images_form">
        <div class="images_wrapper">
        {% for image in prepared_images %}
            <div class="image_container">
                <img src="{{ image.path }}" alt="Photo">
                <div class="image_description">
                    {% if image.is_booked %}
                        <span class="mdi--account-eye"></span>
                    {% endif %}
                    <span class="user_name">@{{ image.added_by }}</span>
                    {% if image.description %} - <span class="description">{{ image.description }}</span>{% endif %}
                </div>
                <input type="checkbox" name="selected_photos_ids" value="{{ image.id }}">
            </div>
        {% endfor %}
        </div>
        <div class="fixed_button_container">
            <button type="submit">Подтвердить выбор (<span id="selected-count">0</span>)</button>
        </div>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log(window.Telegram);
            const telegram = window.Telegram.WebApp;
            const user = telegram.initDataUnsafe?.user;

            if (user) {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'telegram_user_id';
                input.value = user.id;
                document.querySelector('form').appendChild(input);
            }
            const containers = document.querySelectorAll('.image_container');
            const counter = document.getElementById('selected-count');

            function updateCounter() {
                counter.textContent = document.querySelectorAll('.image_container input[type="checkbox"]:checked').length;
            }

            containers.forEach(container => {
                container.addEventListener('click', () => {
                    const checkbox = container.querySelector('input[type="checkbox"]');
                    checkbox.checked = !checkbox.checked;
                    container.classList.toggle('selected', checkbox.checked);
                    updateCounter();
                });
            });

            updateCounter();
        });
    </script>
</body>
</html>