✅ <b>Успех:</b>
📁 Категория: <u>{{ category_title }}</u>
📷 Обработано изображений: <b>{{ images_count }}</b>
📝 Комментарий: <i>{{ description }}</i>
Сессия обновлена, можно добавлять новый пакет. Рекомендуется добавлять не более 20 фотографий за раз