{% if status %}
    {% if status == 'images_was_received' %}
        Фотографий сохранено {{ session_image_count }}. {% if session_image_duplicate_count %}Найдено и не загружено дублей: {{ session_image_duplicate_count }}.{% endif %} Можно добавлять еще или выбрать категории для добавленных:
    {% elif status == 'wrong_state' %}
        Ошибка состояния. Для начала процесса добавления фотографий, воспользуйтесь командой /add_photos
    {% elif status == 'in_progress' %}
        Обработка...
    {% elif status == 'user_not_found' %}
        Ошибка идентификации пользователя. Выполните команду /start. Если после этого проблема не исчезнет, то случилось что-то неприятное...
    {% endif %}
{% else %}
    Произошла неизвестная ошибка
{% endif %}