{% if status %}
    {% if status == 'images_was_received' %}
        Фотографии сохранены({{ session_image_count }}). Можно добавлять еще.
    {% elif status == 'wrong_state' %}
        Ошибка состояния. Для начала процесса добавления фотографий, воспользуйтесь командой /add_photos
    {% elif status == 'in_progress' %}
        Обработка...
    {% elif status == 'user_not_found' %}
        Ошибка идентификации пользователя. Выполните команду /start. Если после этого проблема не исчезнет, то случилось что-то неприятное...
    {% endif %}
{% else %}
    Произошла неизвестная ошибка
{% endif %}