<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Загрузка...</title>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tg = window.Telegram.WebApp;
            const initData = tg.initData;
            const urlParams = new URLSearchParams(window.location.search);
            const next = urlParams.get("next") || "/";

            if (initData) {
                const target = `${next}?initData=${encodeURIComponent(initData)}`;
                window.location.replace(target);
            } else {
                document.body.innerHTML = "<p>Ошибка! Не удалось верифицировать пользователя!</p>";
            }
        });
    </script>
</body>
</html>